fastapi==0.101.0
PIL==10.0.0  # Pillow 라이브러리입니다.
pytesseract==0.3.10
opencv-python==4.8.0.76
numpy==1.23.4
re  # Python의 표준 라이브러리입니다. 별도로 설치할 필요가 없습니다.
typing==4.7.1  # Python의 표준 라이브러리입니다. 별도로 설치할 필요가 없습니다.